body {

	margin: 0;
	padding: 0;
	border: 0;
	
}

header {
			text-align: center;
			padding: 20px;
			background-image: url(../images/blackPaisley.jpg);
			height: 185px;
}
		
.img-headers {
			height: 150px;
			width: auto;
}
		
#emotions {
			padding-top: 0;
			width: 75%;
			margin: auto;
			letter-spacing: 10px;
			line-height: 35px;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
}

.buttonDown {

	background-color: black;
}

.social-center {
	text-align: center;
}

#social {
	height: 50px;
	width: auto;
	margin-right: 2px;
}

.suggestions {

	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}

.yourSmile {

	background-color: #28a219;
}

h1 {
			font-weight: bold;
			font-size: 28px;
			text-align: center;
	}


.form-group {
			width: 350px;
			margin: auto;
	}

.gif-results {
	clear: both;
	width: 75%;
	margin: auto;
	line-height: 200px;
	margin-top: 20px;
	text-align: center;


}
.resize {

	height: 175px;
	max-width: 250px;
	padding-right: 10px;

}